/*/////// MEDIA ////////*/
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/intro-pic.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.display-4, .lead {
  text-align: center;
  color: white;
}

.card-img-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) );
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// LAYOUT STYLES ////////*/
.container-fluid > .listings {
  /* padding-left: 0px;
  padding-right: 0px; */
  padding-bottom: 40px;
}

.listings > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.listings > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

/* .row {
  margin-bottom: 20px;
} */

.card-body {
  text-align: center;
}

#company-news {
  padding-left: 4em;
  padding-right: 4em;
}
/*/////// CAROUSEL STYLES ////////*/

#carousel-example-generic .item img {
  height: auto;
}

.carousel-caption p {
  display: none;
}

@media only screen and (min-width: 768px) {
  #carousel-example-generic .item img {
    height: 384px;
  }
}

@media only screen and (min-width: 992px) {
  #carousel-example-generic .item img {
    height: 496px;
  }

  .carousel-caption p {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  #carousel-example-generic .item img {
    height: 600px;
  }

  .carousel-caption p {
    display: block;
  }

}
