.navbar-custom {
  background-color: #4e3126;
}


.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/intro-pic.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.display-4, .lead {
  text-align: center;
  color: white;
}

.card-img-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) );
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
  height: 100%;
  max-height: 100%
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
}

.listings {
  padding-left: 15px;
  padding-right: 15px;
}

.listings > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 0px;
  margin-right: 0px;
}

.listings > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.card-body {
  text-align: center;
}

#company-info {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

#company-news {
  padding-left: 4em;
  padding-right: 4em;
}

#links {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 35px;
}

p {
  line-height: 1.6;
  font-size: 1.5em;
}

footer {
  padding-top: 15px ;
  background-color: #6f4839;
  color: white;
}

footer > .row {
  margin-right: 0px;
  margin-left: 0px;
}